@model QulixProject.UI.Models.EditTaskPartialViewModel

@using (Html.BeginForm("EditTasks", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    var textE = "e" + Model.Id;
    
    <div class="modal fade" role="dialog" id="@textE">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Model.HeaderText</h4>
                </div>
                <div class="modal-body">

                    <fieldset>
                        <legend>EditTaskPartialViewModel</legend>

                        @Html.HiddenFor(model => model.Id)

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Workload)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Workload)
                            @Html.ValidationMessageFor(model => model.Workload)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.StartDate)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.StartDate)
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.EndDate)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EndDate)
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>
                        
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Status, new { @class = "col-md-4 control-label" })
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Status, new SelectList(
                                new List<Object>
                                {
                                    new {value = 0, text = "NonStarted"},
                                    new {value = 1, text = "InProgress"},
                                    new {value = 2, text = "Completed"},
                                    new {value = 3, text = "Postponed"}
                                },
                                "value",
                                "text",
                                2), new { @class = "form-control" })

                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                        </div>

                        @{
                            var list = new List<Object>();
                            foreach (var performer in Model.PerformerModels)
                            {
                                list.Add(new { value = performer.Id, text = performer.ToString() });
                            }
                        }
                        <div class="editor-label">
                            @Html.LabelFor(model => model.PerformerId, new { @class = "col-md-4 control-label" })
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.PerformerId, new SelectList(
                                list,
                                "value",
                                "text",
                                2), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PerformerId, "", new { @class = "text-danger" })
                        </div>
                        
                        @Html.HiddenFor(model => model.HeaderText)
                        @Html.HiddenFor(model => model.BodyText)

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <p>
                        <input type="submit" value="Edit" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </p>
                </div>
            </div>

        </div>
    </div>
}

@section scripts {
    <script src="/Scripts/jquery-1.7.1.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
}

@section styles {
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
}